USE [BIMBELBEE]
GO
/****** Object:  Table [dbo].[mapel]    Script Date: 17/04/2025 16:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapel](
	[id_mapel] [char](4) NOT NULL,
	[nama_mapel] [varchar](100) NOT NULL,
	[mapel] [varchar](25) NULL,
	[tingkat] [varchar](2) NULL,
	[ruangan] [char](1) NULL,
	[durasi] [varchar](10) NOT NULL,
	[hari_kursus] [varchar](10) NULL,
	[waktu_kursus] [time](7) NULL,
	[harga] [int] NULL,
	[id_tutor] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mapel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pendaftaran]    Script Date: 17/04/2025 16:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pendaftaran](
	[id_pendaftaran] [char](6) NOT NULL,
	[nisn] [char](10) NULL,
	[id_mapel] [char](4) NULL,
	[total_pembayaran] [int] NULL,
	[tgl_daftar] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pendaftaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siswa]    Script Date: 17/04/2025 16:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siswa](
	[nisn] [char](10) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[notelp] [varchar](15) NOT NULL,
	[alamat] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[nisn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tutor]    Script Date: 17/04/2025 16:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tutor](
	[id_tutor] [char](4) NOT NULL,
	[nama_tutor] [varchar](20) NULL,
	[notelp] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mapel]  WITH CHECK ADD FOREIGN KEY([id_tutor])
REFERENCES [dbo].[tutor] ([id_tutor])
GO
ALTER TABLE [dbo].[pendaftaran]  WITH CHECK ADD FOREIGN KEY([id_mapel])
REFERENCES [dbo].[mapel] ([id_mapel])
GO
ALTER TABLE [dbo].[pendaftaran]  WITH CHECK ADD FOREIGN KEY([nisn])
REFERENCES [dbo].[siswa] ([nisn])
GO
ALTER TABLE [dbo].[mapel]  WITH CHECK ADD CHECK  (([hari_kursus]='jumat' OR [hari_kursus]='kamis' OR [hari_kursus]='rabu' OR [hari_kursus]='selasa' OR [hari_kursus]='senin'))
GO
ALTER TABLE [dbo].[mapel]  WITH CHECK ADD CHECK  (([mapel]='sosiologi' OR [mapel]='ekonomi' OR [mapel]='sejarah' OR [mapel]='geografi' OR [mapel]='matematika' OR [mapel]='fisika' OR [mapel]='biologi' OR [mapel]='kimia'))
GO
ALTER TABLE [dbo].[mapel]  WITH CHECK ADD CHECK  (([ruangan]='e' OR [ruangan]='d' OR [ruangan]='c' OR [ruangan]='b' OR [ruangan]='a'))
GO
ALTER TABLE [dbo].[mapel]  WITH CHECK ADD CHECK  (([tingkat]='12' OR [tingkat]='11' OR [tingkat]='10'))
GO
ALTER TABLE [dbo].[pendaftaran]  WITH CHECK ADD CHECK  (([tgl_daftar] like '[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[siswa]  WITH CHECK ADD  CONSTRAINT [CHK_nisn] CHECK  ((len([nisn])=(10)))
GO
ALTER TABLE [dbo].[siswa] CHECK CONSTRAINT [CHK_nisn]
GO
ALTER TABLE [dbo].[siswa]  WITH CHECK ADD CHECK  (([notelp] like '08%' AND (len([notelp])>=(10) AND len([notelp])<=(13))))
GO
ALTER TABLE [dbo].[tutor]  WITH CHECK ADD CHECK  (([notelp] like '08%' AND (len([notelp])>=(10) AND len([notelp])<=(13))))
GO
